{% extends "base.html" %}
{% block content%}

<script>

$(function(){
    var $grid = $('.flex-container'),
            emptyCells = [],
            i;
// 子パネル (ul.cell) の数だけ空の子パネル (ul.cell.is-empty) を追加する。
    for (i = 0; i < $grid.find('.flex-item').length; i++) {
        emptyCells.push($('<div>', { class: ' is-empty' }));
    }
    $grid.append(emptyCells);
    $('#add').click(function(){
        $(this).before('<div class="flex-item"><h4>instance</h4></div>');
        $grid.append($('<div>', { class: ' is-empty' }));
    })
});
</script>

<div class="container">

<div class="row row-center va-bottom">
    <div class="col-xs-10">
        <h1>Instance List</h1>
    </div><div class="col-xs-1" >
        <a href="#" class="btn btn-primary">New Instance</a>
    </div>
</div>

<ul class="list-group">
{% for machine in machines %}
<li class="list-group-item">{{machine.name}}<span class="badge {{machine.getstatecolor}}">{{machine.getstate}}</span></li>
{% endfor %}
</ul>
</div>

{% endblock %}
