.navbar-brand {
    background: url("../../img/logo.png") no-repeat left center;
    background-size: contain;
    height: 50px;
    width:108px;
}

.footer{
    background-color: #ccc;
    text-align: center;
}

.container .jumbotron{
    background: url("../../img/nile-river.jpg") center no-repeat;
    background-size: cover;
}

.public-banner img {
    position: absolute;
    top: 67px;
}

.badge-gray {
    background-color: gray
}

.badge-green {
    background-color: #b0cc70
}

.badge-yellow {
    background-color: #eebb11
}

.row-center.va-middle > [class*='col-'] {
    display: inline-block;
    float: none;
    vertical-align:middle;
}

.va-bottom {
    display: inline-block;
    float: none;
    vertical-align:bottom;
}

.btn {
    margin-bottom: 5px;
}

/*
 * This sticky footer css is
 * obtained from bootstrap examples page.
 * http://getbootstrap.com/examples/sticky-footer/
 */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

