{% load staticfiles %}
<!DOCTYPE html>
<!--<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">-->
<head>
    <meta charset="UTF-8">
    <title>EC2</title>
    <link href="{% static 'ec2/css/ec2_main.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'ec2/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ec2/css/style.css' %}">
    <script src="{% static 'ec2/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'ec2/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ec2/js/velocity.min.js' %}"></script>
    <script src="{% static 'ec2/js/tabtab.min.js' %}"></script>
</head>
<body>
<header>
     <div class="navbar navbar-default">
        <div class-"container-fluid">
            <div class-"navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ user.username }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'accounts:logout_with_template' %}">ログアウト<span class="pull"></span></a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{% url 'accounts:user_creation' %}">サインアップ</a></li>
                        <li><a href="{% url 'accounts:login_with_template' %}">ログイン</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<article>
    {% block content %}
    {% endblock %}
</article>
<footer>

</footer>
</body>
</html>
